.product-attributes .attribute-options input[type=radio]{
    display: none;
}
.product-attributes .attribute-options{
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.product-attributes .attribute-options span.attribute-name{
    border: 1px solid;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 13px;
}
.product-attributes .attribute-options .active,
.product-attributes .attribute-options label:hover span.attribute-name{
    background-color: #ae1c9a;
    color: white;
}
.product-quantity input.number{
    width: 28px;
    border: none;
    text-align: center;
}
.product-info-content .product-quantity .quantity{
    gap: unset;
}
.quantity span {
    font-size: 1.5rem;
    padding: 10px 20px;
}
.nested-comments{
    margin-left: 40px;
}
.product-description .tab-item .review-wrapper .wrapper .wrapper-description {
    margin-top: 0;
    margin-left: 58px;
    margin-bottom: 4px;
}
.seller-info-section{
    display: flex;
}
.seller-info-section .logo img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.seller-info-section .name-shop{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.seller-info-section .action a{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 3px;
}
.seller-info-section .action a i{
    margin-right: 3px;
}
.seller-info-section .action a:last-child{
    background-color: white;
    border: 1px solid #000000;
    color: #000000;
}
.seller-info-section .action a:first-child:hover{
    background-color: rgba(174, 28, 154, 0.79);
    color: #ffffff;
}
.seller-info-section .action a:last-child:hover{
    background-color: rgba(197, 196, 196, 0.55);
}

.seller-info-section .action a:first-child{
    border: 1px solid #ae1c9a;
    color: #ae1c9a;
    background-color: #ae1c9a1a;
    margin-right: 5px;
}
.seller-info-section .desc{
    margin-left: 10px;
    margin-top: 5px;
}
.header-center .header-cart-items .header-cart .cart-submenu .cart-wrapper-item .wrapper{
    align-items: center;
}
.order-summery .subtotal .product-list .wrapper-img{
    width: 150px;
}
.address-ship{
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        background-position-x: -30px;
        background-size: 116px 3px;
        height: 3px;
        width: 100%;
}
.address-content{
    padding: 28px 30px 24px;
}
.address-top {
    align-items: center;
    color: #ae1c9a;
    display: flex;
    flex: 1 1 auto;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.address-top i{
    margin-right: 10px;
}
.address-top p{
    font-size: 18px;
    color: #ae1c9a;
}
.address-botton{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.address-info{
    align-items: center;
    display: flex;
    font-size: 1rem;
    word-break: break-word;
}
.address-info .name{
    color: #222;
    font-weight: 700;
    font-size: 16px;
}
.address-info .address-line{
    margin-left: 20px;
    word-break: break-word;
    font-size: 16px;
}
.address-deafault{
    border: .5px solid;
    border-radius: 1px;
    color: #ee4d2d;
    flex-shrink: 0;
    font-size: 15px;
    margin-left: 1.5em;
    padding: 2px 5px;
    text-transform: capitalize;
}
.change-address{
    color: #4080ee;
    margin-left: 2.5rem;
    text-transform: capitalize;
    font-size: 16px;
    width: 93px;
}
.address-list {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}
.address-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.address-item label{
    font-size: 16px;
}
.address-item label strong{
    border-right: 1px solid #ddd;
    padding-right: 10px;
}
.address-item:last-child {
    border-bottom: none;
}
.address-item input[type="radio"] {
    margin-right: 10px;
}
.default-label {
    margin-left: 0;
}
.address-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-actions a {
    color: blue;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}
.address-actions a:hover {
    text-decoration: underline;
}
.add-new-address {
    border: 1px solid #DDDDDD;
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
}
.action-buttons {
    text-align: right;
    margin-top: 20px;
}
.action-buttons button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.confirm-button {
    background-color: #ff5722;
    color: white;
    margin-left: 10px;
}
.cart-coupon {
    overflow: hidden;
}
.cart-coupon h4 {
    font-size: 18px;
    line-height: 13px;
    margin-bottom: 15px;
    font-weight: 600;
}
.cart-coupon p {
    font-size: 14px;
    line-height: 24px;
}
.cart-coupon .cuppon-form {
    position: relative;
    padding-right: 142px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #ddd;
    float: left;
    border-radius: 50px;
}
.cart-coupon .cuppon-form input[type=text] {
    border: 1px solid transparent;
    float: left;
    font-size: 14px;
    height: 40px;
    max-width: 100%;
    padding: 7px 15px;
    width: 100%;
    border-radius: 50px;
}
.cart-coupon .cuppon-form input[type=text]:focus {
    outline: none;
}
.cart-coupon .cuppon-form input[type=submit] {
    background-color: #1a161e;
    border: medium none;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 24px;
    padding: 8px 25px;
    text-transform: uppercase;
    border-radius: 50px;
    position: absolute;
    right: 0;
    top: 0;
}
.cart-coupon .cuppon-form input[type=submit]:hover {
    background-color: #ff708a;
}

box-pagination {
    display: flex;
    justify-content: flex-end;
}

.box-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-pagination ul li a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #ae1c9a;
    border: 1px solid #ae1c9a;
    border-right: 0;
}

.box-pagination ul li a.active,
.box-pagination ul li a:hover {
    color: #fff;
    background: #ae1c9a;
}

.box-pagination ul li:first-child a {
    border-radius: 5px 0 0 5px;
}

.box-pagination ul li:last-child a {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #ae1c9a;
}
